In [2]:
import pandas as pd

In [3]:
df_pysp = pd.read_excel('file1.xlsx')

In [4]:
df_pysp.head()

        Name  Age
0     Srijit   29
1      Parna   25
2  Soumyajit   26
3     Rounak   29
4     Anisha   27

In [5]:
pip install pyspark

Collecting pyspark
  Using cached pyspark-3.5.1.tar.gz (317.0 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7 (from pyspark)
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488532 sha256=c2cc485812bfbebe5be61480c33610a4665484fa250ef8bee59548ce7fa5ed0d
  Stored in directory: c:\users\sriji\appdata\local\pip\cache\wheels\95\13\41\f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pyspark

In [36]:
from pyspark.sql import SparkSession

In [37]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [38]:
spark

In [39]:
df_pysp = spark.read.csv('test1.csv')

In [40]:
df_pysp.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|   Srijit| 29|
|    Parna| 25|
|Soumyajit| 26|
|   Rounak| 29|
|   Varsha| 28|
|   Anisha| 27|
|   Aritra| 28|
+---------+---+

In [48]:
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [49]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [50]:
df_pyspark.head()

Row(Name='Srijit', Age=29)

In [51]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [52]:
df_pyspark.select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|   Srijit| 29|
|    Parna| 25|
|Soumyajit| 26|
|   Rounak| 29|
|   Varsha| 28|
|   Anisha| 27|
|   Aritra| 28|
+---------+---+

In [53]:
df_pyspark['Name']

Column<'Name'>

In [54]:
df_pyspark.withColumnRenamed('Name','FirstName').show()

+---------+---+
|FirstName|Age|
+---------+---+
|   Srijit| 29|
|    Parna| 25|
|Soumyajit| 26|
|   Rounak| 29|
|   Varsha| 28|
|   Anisha| 27|
|   Aritra| 28|
+---------+---+