PySpark filter operations

&, |, ==
~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice3').getOrCreate()

In [5]:
dfp = spark.read.csv('test1.csv', header = True, inferSchema = True)

In [6]:
dfp.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Srijit| 29|         6| 10000|
|    Parna| 25|         4|  8000|
|Soumyajit| 26|         4|  8400|
|   Rounak| 29|         7| 18000|
|   Varsha| 28|         6| 12000|
|   Anisha| 27|         5| 14000|
|   Aritra| 28|         5| 11000|
+---------+---+----------+------+

### Filter operation using pyspark

In [7]:
#salary less than or equal to 10000

In [8]:
dfp.filter("Salary<=10000").show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Srijit| 29|         6| 10000|
|    Parna| 25|         4|  8000|
|Soumyajit| 26|         4|  8400|
+---------+---+----------+------+

In [9]:
dfp.filter("Salary<=10000").select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|   Srijit| 29|
|    Parna| 25|
|Soumyajit| 26|
+---------+---+

In [12]:
dfp.filter((dfp['Salary']<=20000) &
                  (dfp['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rounak| 29|         7| 18000|
+------+---+----------+------+

In [15]:
dfp.filter(~(dfp['Salary']<=10000)).show()  #not function

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rounak| 29|         7| 18000|
|Varsha| 28|         6| 12000|
|Anisha| 27|         5| 14000|
|Aritra| 28|         5| 11000|
+------+---+----------+------+